*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 50%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  background-color: var(--background-color);
  color: var(--text-color-primary); }
  @media screen and (min-width: 43.8em) {
    body {
      background-color: var(--color-primary); } }
  @media screen and (min-width: 72em) {
    body {
      background-color: var(--background-color); } }

.container {
  overflow-x: hidden; }
  
  
.btn-search {
  width: 20%;
  background-color: var(--color-tetiary);
  border-radius: 0 1rem 1rem 0; }

.btn {
  font-size: 1.7rem;
  height: 4rem;
  width: 12rem;
  border-radius: 7rem;
  font-family: inherit;
  font-weight: 400;
  border: 2px solid var(--color-tetiary);
  color: var(--color-tetiary);
  background: transparent;
  cursor: pointer; }

.see-more {
  color: red;
  border: none;
  font-weight: 600;
  background: none;
  font-size: 1.4rem;
  margin-right: 2rem;
  cursor: pointer; }

.imgs {
  height: 100%;
  width: 100%;
  transform: scale(1.5); }

.add-to-cart {
  font-size: 1.7rem;
  height: 3rem;
  width: 12rem;
  border-radius: 7rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  background-color: var(--color-tetiary);
  color: var(--color-black);
  margin-top: 1rem;
  cursor: pointer; }
  .add-to-cart:focus {
    outline: 1px solid var(--color-tetiary); }

.fa {
  font-size: 2rem;
  width: 5rem;
  text-align: center;
  text-decoration: none; }

.fa-facebook {
  padding: 1rem;
  background: #3B5998;
  color: white; }

.fa-twitter {
  padding: 1rem;
  background: #55ACEE;
  color: white; }

.icon {
  font-size: 3rem;
  color: var(--color-tetiary); }

.cart-number {
  position: absolute;
  font-size: 1.8rem;
  top: -17%;
  right: -12%;
  padding: .3rem .7rem;
  border-radius: 50%;
  font-weight: 500;
  background-color: #ff0707;
  text-align: center;
  border: 1px var(--color-primary); }

.fa-star-o {
  padding: 0;
  background-color: var(--color-tetiary);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent; }

.nav {
  height: 8rem;
  width: 100%;
  background-color: var(--color-secondary);
  position: fixed;
  z-index: 100000; }
  @media screen and (min-width: 72em) {
    .nav {
      height: 9rem; } }
  .nav__company-name {
    align-self: right;
    width: 40%;
    display: inline-block;
    text-align: center;
    border-bottom: solid .3rem yellow; }
  .nav__second-sec {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (min-width: 43.8em) {
      .nav__second-sec {
        padding: 0 5rem;
        width: 70%;
        margin: 0 auto; } }
    @media screen and (min-width: 72em) {
      .nav__second-sec {
        padding: 0 5rem;
        width: 50%; } }
    .nav__second-sec__icon {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      position: relative;
      cursor: pointer; }
    .nav__second-sec__search-bar {
      height: 60%;
      width: 45%;
      display: flex;
      align-items: center;
      position: relative; }
      @media screen and (min-width: 43.8em) {
        .nav__second-sec__search-bar {
          width: 60%; } }
      .nav__second-sec__search-bar > * {
        height: 100%;
        border: none;
        border: none; }
      .nav__second-sec__search-bar__search {
        width: 80%;
        font-family: inherit;
        padding: .7rem;
        border-radius: 1rem 0 0 1rem; }
        .nav__second-sec__search-bar__search:focus {
          border: none;
          outline: none; }
    .nav__second-sec__product-login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%; }
      @media screen and (min-width: 43.8em) {
        .nav__second-sec__product-login {
          width: 20%;
          justify-content: space-around; } }

@media screen and (min-width: 43em) {
  .menu {
    position: absolute;
    left: 5%;
    top: 35%; } }

.company-name {
  font-family: inherit;
  color: var(--text-color-secondary);
  font-weight: 400; }

.product,
.login h3 {
  font-family: inherit;
  color: var(--text-color-tetiary);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer; }

.landingPage-header {
  font-size: 4rem;
  text-shadow: 1rem 1rem 1rem var(--color-black);
  color: white; }

.categories-header {
  display: inline-block;
  padding: 1rem;
  font-size: 2.3rem;
  font-weight: bold;
  border-bottom: 2px solid var(--color-tetiary);
  width: 47%;
  margin-bottom: 1rem; }

.categories-name {
  font-weight: 400; }

.discription {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
  text-align: center; }

.price {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: grey;
  text-align: center; }

.footer-text-1 {
  font-size: 2rem;
  color: var(--color-primary);
  text-align: center; }

.footer-text-2 {
  font-size: 1.7rem;
  color: var(--color-primary);
  text-align: center; }
  

.product-name {
  font-size: 3rem;
  font-weight: 400;
  display: block;
  color: --color-black; }

.brand {
  font-size: 1.9rem;
  display: block; }
  .brand__title {
    font-size: 2rem;
    font-weight: 500; }

.product-price {
  font-size: 3.5rem;
  display: block;
  font-weight: 600; }

.shipping {
  font-size: 2rem;
  display: block;
  color: var(--color-tetiary); }

.section {
  margin-top: 8rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 65vh repeat(8, min-content);
  grid-gap: 1.5rem;
  width: 100% !important; }
  @media screen and (min-width: 72em) {
    .section {
      grid-template-rows: 92vh repeat(5, min-content); } }
  .section > * {
    width: 100%; }
  .section__first {
    grid-row: 1;
    width: 100%;
    grid-column: 1 / 9;
    background-image: linear-gradient(50deg, rgba(0, 0, 0, 0.946), rgba(0, 0, 0, 0.563)), url(../img/back-img.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .section__first__big-logo {
      height: 25rem;
      width: 25rem;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .section__first__header {
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      padding-top: 2rem;
      height: 70%;
      width: 100%;
      text-align: center; }
  .section__second {
    grid-column: 1 / span 8;
    grid-row: 2;
    background-color: var(--color-primary);
    padding-bottom: 1rem; }
    .section__second__categories {
      text-align: center; }
      @media screen and (min-width: 43.8em) {
        .section__second__categories {
          width: 18%;
          display: flex;
          align-content: center;
          align-items: center;
          background-color: rgba(128, 128, 128, 0.227);
          border-radius: 1rem;
          box-shadow: .1rem .1rem .5rem #000; } }
  .section__third {
    grid-column: 1 / span 8;
    grid-row: 3;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__third {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__third {
        grid-row: 3;
        grid-column: 1/5; } }
    .section__third__top-sales {
      height: 90%;
      text-align: center;
      padding: 0rem 1rem; }
      .section__third__top-sales__container {
        height: 40%;
        width: 49%;
        text-align: center;
        align-items: center;
        position: relative; }
        .section__third__top-sales__container__img {
          width: 50%;
          height: 50%;
          text-align: center;
          position: relative;
          display: block;
          overflow: hidden;
          margin-left: 25%; }
  .section__fourth {
    grid-column: 1 / span 8;
    grid-row: 4;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__fourth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__fourth {
        grid-row: 3;
        grid-column: 5/9; } }
  .section__fifth {
    grid-column: 1 / span 8;
    grid-row: 5;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__fifth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__fifth {
        grid-row: 4;
        grid-column: 1/5; } }
  .section__sixth {
    grid-column: 1 / span 8;
    grid-row: 6;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__sixth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__sixth {
        grid-row: 4;
        grid-column: 5/9; } }
  .section__seventh {
    grid-column: 1 / span 8;
    grid-row: 7;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__seventh {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__seventh {
        grid-row: 5;
        grid-column: 1/5; } }
  .section__eighth {
    grid-column: 1 / span 8;
    grid-row: 8;
    background-color: var(--color-primary); }
    @media screen and (min-width: 43.8em) {
      .section__eighth {
        grid-column: 2 / 8; } }
    @media screen and (min-width: 72em) {
      .section__eighth {
        grid-row: 5;
        grid-column: 5/9; } }
  .section__nineth {
    grid-column: 1 / span 8;
    grid-row: 9;
    background-color: var(--color-secondary); }
    @media screen and (min-width: 72em) {
      .section__nineth {
        grid-row: 6; } }
    .section__nineth__footer {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding: 3rem; }
      .section__nineth__footer__logo {
        height: 90%;
        position: absolute;
        top: 50%;
        right: 100%;
        opacity: .4;
        transform: translate(-50%, -50%); }

:root {
  --background-color: #F5F5F5;
  --color-primary: #FFFFFF;
  --color-secondary: #041e42;
  --color-tetiary: #ffc220;
  --color-black: #000000;
  --text-color-primary: #000;
  --text-color-secondary: #F5F5F5;
  --text-color-tetiary: #FCED70; }

.u-margin {
  margin-bottom: 10rem; }

.categories-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%; }

.flex {
  display: flex;
  align-items: center; }
  @media screen and (min-width: 43.8em) {
    .flex {
      justify-content: space-around; } }

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.discount {
  height: 3rem;
  line-height: 3rem;
  width: 5rem;
  background-color: var(--color-tetiary);
  position: absolute;
  top: 0;
  right: 15%;
  font-weight: 700;
  text-align: center;
  border-radius: .9rem;
  font-size: 1.8rem;
  z-index: 5; }

.big-logo {
  width: 100%;
  height: 100%; }

.about-product {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 30% 55% 10%;
  grid-gap: 1.5rem;
  padding: 1rem;
  margin: auto;
  position: relative;
  height: 80vh; }
  @media screen and (min-width: 33em) {
    .about-product {
      width: 45%;
      margin: auto; } }
  .about-product__img-side {
    grid-column: 3 / 7;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: var(--color-primary); }
  .about-product__discription {
    grid-row: 2;
    grid-column: 1 / 9;
    padding: 2%;
    background-color: var(--color-primary);
    position: relative;
    line-height: 3rem; }
    .about-product__discription__official {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      background-color: red;
      padding: 1rem;
      color: var(--color-primary); }
    .about-product__discription__product {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 80%;
      margin-top: 3%; }
      .about-product__discription__product__rating {
        height: 20%;
        padding: -10%; }
  .about-product__add {
    grid-column: 1 / 9;
    grid-row: 3;
    background-color: var(--color-primary); }
    .about-product__add__btn {
      width: 100%;
      height: 100%;
      background-color: var(--color-tetiary);
      border: none;
      outline: none;
      font-size: 2.3rem;
      text-align: center; }



      
 
 a{
  text-decoration: none;
  color: inherit;
}
.fa-circle-o-notch{
  color: #ffc220;
  text-align: center;
  animation: rotate 2s infinite linear;

}
.section__fifth{
  /* position: relative;
  left: 350px; */
  width: 100%;
  padding: 20px;
  margin: 10px 350px;
}
.flex .fa-circle-o-notch{
  font-size: 30px;
  margin: 40px ;
}
.section__third__top-sales .fa-circle-o-notch{
  width: 20px;
  margin: 40px auto;
  font-size: 50px;
}

.form-container{
   position: absolute;
   top: 200px;
   left: 400px;
   z-index: 100;
    background-color: #041E42;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    width: 450px;
    margin: 0px auto;
}
.form-head{
    text-align: center;
    padding: 3px;
    margin-bottom: -30px;
}
.form-head h3{
    margin-top: 40px;
    font-weight: 600;
    line-height: 36px;
    font-size: 24px;
    margin-bottom: 34px;
    color: #FFC220;
}
.fa-star-half-o, .fa-star{
  color: #ffc220;
}
.singleProductView{
 position: absolute;
 top: 600px;
width: 100%;
 z-index: 1;
 padding: 50px;
 background-color: #041e42;
}
.form-input{
   padding: 30px;
    display: flex;
    flex-direction: column;
}
.form-input div{
    font-weight: 600;
    line-height: 24px;
    color: white;
    font-size: 12.5px;
    margin: 10px auto;
}
.personalDataDiv{
    background-color: #041E42;
    margin: 20px auto;
    width: 500px;
    padding: 5px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}
.personalDataDiv h2{
    text-align: center;
    line-height: 100px;
    height: 100px;
    font-size: 18px;
    margin-top: -5px;
    border-radius: 1.25rem;
    color: white;
 
}
.userIdentity{
    display: flex;
    flex-direction: column;
}
.userIdentity input{
    width: 400px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
    margin: 20px auto;
    background-color: #041E42; 
    border-color: white;
    color: white;
    font-size: 16px;
    border-style: none none solid none  ;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* -webkit-filter: blur(8px); */
   filter: blur(8px);
  z-index: 1;
}
.personalDataDiv .save {
    width: 300px;
    height: 40px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin: 20px auto;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:  #FFC220;
}
.saveButton{
    width: 300px;
    margin: 20px auto;
}
.personalDataDiv h3, .userIdentity #changePassword{
    text-align: center;
    color: white;
}
.personalDataDiv h2, .personalDataDiv h3{

font-size: 22px;
}
#changePassword{
    width: 300px;
    height: 32px;
    cursor: pointer;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    border-style: none;
    margin: 60px 100px;
    padding-top: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color:  #FFC220;
}
.save:hover{
    background-color: orangered;
}
#changePassword:hover{
    background-color: orangered;
}
.radioButtons{
    color: white;
    width: 400px;
    margin: 20px auto;
}
.form-container input{
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    cursor:default;
    background: rgb(201, 198, 198);
    border-style: none;
    width: 300px;
    height: 45px;
}
.registerFormContainer{
    width: 600px;
}
.registerFormContainer input{
    width: 200px;
   
}
input:focus{
    outline: none;
}
.registerflex{
    display: grid;
    grid-template-columns: repeat(2, 260px);
}
.form-container .submit, .form-container .submitRegister{
    width: 280px;
    color: white;
    border-top-left-radius: 0.8rem;
    margin: 20px auto;
      margin-left: -15px;  
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0;
    background-color: #FFC220;
    height: 50px;
    font-weight: bold;
}
.submit:hover{
    background-color: #dfa609;
}
.submitRegister:hover{
    background-color: #dfa609;
}
.successMessage{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 50px auto;
}

.form-container .spinner {
    text-align: center;
    font-size: 20px;
   position: relative;
   left: 70px;
   color: #041E42;
    animation: rotate 2s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.hide{
    display: none;
}
.account-div{
    margin: 20px auto 5px auto;
}

 .account-div a{
     text-decoration: none;
     color: black;
     font-size: 14px;
     line-height: 21px;
 }
 .account-div a:hover{
     color: gray;
 }
.registerFormContainer .registerFullName{
  width: 460px;
}
.registerFormContainer .registerFullName::placeholder{
    position: relative;
    left: 70px;
    
}
 .account-div p{
     padding: 10px;
   text-align: center;
 } 
 .hidden{
   visibility: hidden;
 }
 .Cancel, .CancelRegister{
   cursor: pointer;
   color: white;
   font-size: 25px;
  margin-left: 10px;
  padding-left: 5px; 
   width: 35px;
   border-radius: 10px;
   
 }
 .Cancel:hover{
   background-color: var(--color-tetiary);
 }
 .CancelRegister:hover{
  background-color: var(--color-tetiary);
 }
 .renderError{
  position: absolute;
  top: 150px;
  left: 480px;
  z-index: 100;
    color: red;
    font-size: 19px;
    text-align: center;
    margin: 15px auto;  
}
.passwordCheck{
    text-align: center;
    color: rgb(95, 78, 78);
    margin:-20px auto 30px auto;
}
.showPassword{
    position: relative;
    right: 40px;
}
@media screen and (max-width:1000px){
  .form-container, .renderError{
    left: 160px;
  }
}

 @media screen and (max-width:500px){
     .form-container{
         width: 300px;
         margin: 20px auto;
         position: absolute;
         top: 150px;
         left: 80px;
        
     }
     .renderError{
       top: 130px;
     }
     .form-container h3{
         font-size: 16px;
     }
     .personalDataDiv{
         max-width: 318px;
     }
    .form-container input, .form-container .submit{
        width: 200px;
    }
    .form-container input{
        height: 40px;
        
    }
    .personalDataDiv input{
        width: 250px;
    }
    .registerFormContainer .registerFullName{
        width: 200px;
      }
      .registerFormContainer .registerFullName::placeholder{
          left: -2px;
          font-size: 10px;
      }
    .form-container .submit, .form-container .submitRegister{
        height: 35px;
        width: 120px;
        font-size: 14px;
    }
    .personalDataDiv .radioButtons{
        width: 170px;
        display: flex;
        margin: 15px 50px;
    }
    .personalDataDiv .save, #changePassword{
        width: 200px;
        margin: 10px 50px;
        font-size: 15px;
     }
  #changePassword{
      margin: 10px auto;
  }
  .form-container .spinner {
     margin: 5rem auto; 
     text-align: center;
    font-size: 15px;
   position: relative;
   left: 8px;
   color: #041E42;
    animation: rotate 2s infinite linear;
  }
  .registerflex{
    display: block;
} 
 } 